
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to GMD Customer API</h2>

<h3>Please refer to the provided document to use this API.</h3>

<small>Running assembly version: @ViewBag.Version - Client : @ViewBag.Client</small>



