<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <appSettings>
    <add key="ApplicationClient" value="NUMERO"/>
    <add key="PublicationDataConnection" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Server=GMDSQLDEV01;Database=Publication_Data_Management;Integrated Security=true" />
    <add key="MciCrConnection" xdt:Transform="Replace" xdt:Locator="Match(key)" value="Server=GMDSQLDEV01;Database=MCI_CR;Integrated Security=true" />
    <add key="appRoot" xdt:Transform="Replace" xdt:Locator="Match(key)" value="http://api.saga.co.uk/pp/gmd/GmdWebServices/MailingHistory" />
    <add key="EnableObjectDump" value="true"/>


    <add key="SSO_IdpMetaDataUri" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://idpgroup.saga.co.uk/cc41/.well-known/openid-configuration" />
    <add key="SSO_Audience" xdt:Transform="Replace" xdt:Locator="Match(key)" value="https://idpgroup.saga.co.uk/cc41/" />


    <add key="SSO_LogFolder" xdt:Transform="Replace" xdt:Locator="Match(key)" value="C:\Logs\Saga.Gmd.WebService.Api\Numero\SSO_" />
    <add key="RequestResponseLog" xdt:Transform="Replace" xdt:Locator="Match(key)"  value="C:\Logs\Saga.Gmd.WebService.Api\Numero\RequestResponse\" />
  </appSettings>
  <log4net >
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" xdt:Transform="Replace" xdt:Locator="Match(name)"  value="C:\Logs\Saga.Gmd.WebService.Api\Numero\CustomerApi.log" />
    </appender>

    <appender name="EmailAppender" type="log4net.Appender.SmtpAppender" xdt:Locator="Match(name)">
      <subject xdt:Transform="Replace" value="An error occurred in Saga.Gmd.WebApiServices.Customer - Numero (UAT)" />
    </appender>
  </log4net>
</configuration>